playground.ipynb
DB/
REFs/
DB/dbsnp.db
DB/00-common_all.vcf
DB/00-common_all.vcf.gz
REFs/hg38.fa
REFs/hg38.fa.gz
dbsnp.db
00-common_all.vcf
00-common_all.vcf.gz
REFs/hg38.fa REFs/hg38.fa.ndb REFs/hg38.fa.nhr REFs/hg38.fa.nin REFs/hg38.fa.not REFs/hg38.fa.nsq REFs/hg38.fa.ntf REFs/hg38.fa.nto
